body {
    background-image: url("Files/space.png");
    width: 626px;
    height: 438px;
    margin: 0;
    font-family: "Bubblegum Sans", cursive;
}

.space {
    background-image: url("Files/space.png");
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.planet-area {
    height: 800px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.planet {
    height: 100%;
    width: 600px;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 5px 5px 15px aqua, 0 0 20px magenta, 0 0 60px midnightblue inset,
    5px 5px 15px aqua, 0 0 20px magenta, 0 0 60px midnightblue inset;
    margin: 0;
}

.rocket {
    height: 150px;
    width: 150px;
    transform: rotate(35deg);
    z-index: 2;
    position: absolute;
    left: 300px;
}